<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <link href="/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a class="brand" href="#">Products WEBAPP</a>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Products</a></li>
            </ul>
            <ul class="btn-group pull-right">
                <li class="btn">Welcome Back, <span sec:authentication="name">Bob</span></li>
                <li class="btn"><a href="/logout" th:href="@{'/logout'}"><i class="icon-user"></i>Logout</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <div class="span2">
                <h1>Products</h1>
            </div>
            <div class="span10 well">
                <ul class="tags">
                    <li th:each="tag : ${tagCloud}" > <a href="#" th:text="${tag}">Tag</a></li>
                </ul>
            </div>
        </div>
        <div class="row-fluid">
            <p class="lead">This is the list of products currently in the system.</p>
            <p sec:authorize="hasRole('ROLE_USER')">This is some user content.</p>
        </div>
        <hr/>
        <div class="row-fluid">
            <a href="#" class="btn btn-primary">Add Product</a>
        </div>
        <div class="row-fluid">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Product ID</td>
                    <td>Product Name</td>
                    <td>Product Description</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tr th:each="product : ${products.list}">
                    <td><a href="/id.xml" th:href="@{'/products/'+${product.id}+'.xml'}">XML</a> </td>
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.description}"></td>
                    <td><a href="#" class="btn"><i class="icon-edit"> </i>Edit</a><a href="#" class="btn"><i class="icon-remove">   </i>Delete</a> </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>